[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
python-multipart = "*"
fastapi = {extras = ["standard"], version = "*"}
aiofiles = "*"
langchain-google-genai = "*"
langchain = "*"
python-dotenv = "*"
pandas = "*"
tabula-py = "*"
jpype1 = "*"
kreuzberg = "*"

[dev-packages]

[requires]
python_version = "3.12"
