aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
bleach
cachetools
CacheControl
certifi
cffi
chardet
charset-normalizer
click
cleo
colorama
crashtest
cryptography
cssselect
Cython
dataclasses-json
distlib
distro
dnspython
docutils
dulwich
email_validator
exceptiongroup
execnet
fastapi
fastapi-cli
filelock
filetype
frozenlist
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-search-results
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
html-to-markdown
html5lib
httpcore
httptools
httpx
httpx-sse
idna
importlib-metadata
importlib-resources
iniconfig
Jinja2
jaraco.classes
jeepney
jpype1
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keyring
kreuzberg
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-ollama
langchain-text-splitters
langsmith
lockfile
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
more-itertools
msgpack
multidict
mypy_extensions
narwhals
numpy
ollama
orjson
outcome
packaging
pandas
parsel
pdf2image
pexpect
pillow
platformdirs
playa-pdf
pluggy
proto-plus
protobuf
ptyprocess
pyarrow
pyasn1
pyasn1_modules
pycparser
pydeck
Pygments
PyMuPDF
pypdfium2
pyrsistent
pytesseract
PySocks
python-calamine
python-dateutil
python-dotenv
python-multipart
python-pptx
pytz
PyYAML
rapidfuzz
readme-renderer
referencing
reportlab
requests
requests-toolbelt
rfc3986
rich
rich-toolkit
rpds-py
rsa
SecretStorage
selectolax
selenium
selenium-stealth
shellingham
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
starlette
streamlit
tabula-py
tenacity
toml
tomli
tomlkit
tornado
tqdm
trio
trio-websocket
trove-classifiers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
virtualenv
w3lib
watchdog
watchfiles
webencodings
websockets
webdriver-manager
wsproto
XlsxWriter
yarl
zipp
zstandard
python-magic
python-magic-bin